<div class="card" style="width: 100%;">
  {{ fields.field_promo_image.content }}
  <div class="card-body">
    <h3 class="card-title">{{ fields.title.content }}</h3>
    <p><strong>{{ fields.created.content }}</strong></p>
    <p class="card-text">{{ fields.field_summary.content }}</p>
    <p><strong><a href="{{ fields.field_resource_url.content }}">Learn more <i class="gg-arrow-right"></i></a></strong></p>
  </div>
</div>
