<div{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
  <div class="container-fluid py-5 bg-faded-blue homepage-news-updates-block">
    <div class="container">
      <div class="row">
        {% set promo = drupal_view_result('promos', 'homepage_promo', 'wcor')|length %}
        {% if promo > 0 %}
        <div class="col homepage-promo">
          {{ drupal_view('promos', 'homepage_promo', 'wcor') }}
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 pt-5 pt-lg-0 homepage-news">
        {% else %}
        <div class="col-12 homepage-news">
        {% endif %}
          {% if view.getTitle() %}
            <h2 class="mb-3">{{ view.getTitle()|raw }}</h2>
          {% endif %}
          {% for row in rows %}
            <div class="callout callout-primary mb-3">
              {{ row.content }}
            </div>
          {% endfor %}
          <p class="text-end"><strong><a href="/news">More news & updates <i class="gg-arrow-right"></i></a></strong></p>

        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
