<div{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
  <div class="container-fluid py-5 bg-info">
    <div class="container">
      <div class="row">
        <div class="col">

          <div class="card" style="width: 100%;">
            <img class="card-img-top" src="https://via.placeholder.com/1200x600"
              alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">Card title</h3>
              <p><strong>October 5, 2011</strong></p>
              <p class="card-text">Some quick example text to build on the card
                title and
                make up the bulk of the card's content.</p>
              <p><strong><a href="/news">Learn more</a></strong><i class="gg-arrow-right"></i></p>
            </div>
          </div>

        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 pt-5 pt-md-0">
          {% if view.getTitle() %}
            <h2 class="mb-3">{{ view.getTitle()|raw }}</h2>
          {% endif %}
          {% for row in rows %}
            <div class="callout callout-primary mb-3">
              {{ row.content }}
            </div>
          {% endfor %}
          <p class="text-end"><strong><a href="/news">More news & updates</a></strong><i class="gg-arrow-right"></i></p>

        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
